#
# This source file is part of the Stanford Spezi open-source project
#
# SPDX-FileCopyrightText: 2025 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store
Thumbs.db
fsh-generated
input-cache
output
temp
template
node_modules
.jekyll-cache